.FootSec {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: #334960;
}

h4{
    color: white;
    font-size: 25px;
}
h5{
    margin: 5px;
    color: white;
    font-size: 17px;
}
p {
    color: #959da7;
}