body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.wrapper1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

/* start of wrapper responsive */
.wrapper2 {
  width: 100%;
  padding: 0 10px;
}

@media screen and (min-width: 550px) {
  .wrapper2 {
      width: 530px;
  }
}

@media screen and (min-width: 600px) {
  .wrapper2 {
      width: 590px;
  }
}

@media screen and (min-width: 680px) {
  .wrapper2 {
      width: 670px;
  }
}

@media screen and (min-width: 740px) {
  .wrapper2 {
      width: 730px;
  }
}
@media screen and (min-width: 820px) {
  .wrapper2 {
      width: 810px;
  }
}

@media screen and (min-width: 900px) {
  .wrapper2 {
      width: 890px;
  }
}
@media screen and (min-width: 1000px) {
  .wrapper2 {
      width: 990px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper2 {
      width: 1190px;
  }
}

@media screen and (min-width: 1400px) {
  .wrapper2 {
      width: 1390px;
  }
}
/* end of wrapper responsive */

.test-grey {
  border: 5px solid grey;
}
